@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* footer start */
.footer-container {
  background-color: #333333;
  border-top-left-radius: var(--border-radius);
  background-size: cover;
  min-height: 519px;
  display: grid;
  grid-gap: 10px;
  border-radius: 15px;
  width: 100%;
}

.footer-row-call-us {
  background-image: url("../../../public/assets/img/footer.png");
  background-position: "center";
  overflow: hidden;
  padding: 70px 0px 70px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  width: auto;
}

.footer-row-details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 40px 20px 40px;
}

.footer-col-towing {
  padding: 20px;
  width: 20vw;
  height: auto;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.footer-col-towing .towing-body {
  text-align: justify;
  padding: 20px 0px 20px 0px;
  font-size: 12px;
  font-weight: lighter;
}

.footer-col-towing-title {
  padding: 20px;
  font-size: 21px;
  font-weight: 700;
}

.footer-col-sitemap-title {
  padding: 0px 20px 20px 0px;
  font-size: 21px;
  font-weight: 700;
}

.footer-col-sitemap {
  /* width: 12vw; */
  height: auto;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  padding: 0px 20px 0px 20px;
}

.sitemap-body a,
.sitemap-body div {
  text-decoration: none;
  font-size: 12px;
  padding-bottom: 15px;
  color: #ffffff;
  font-weight: lighter;
}

.sitemap-body li {
  list-style: none;
}

.footer-col-estimate {
  padding-inline: 20px;
  width: 24vw;
  height: auto;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.footer-col-services {
  color: #ffffff;
  padding-inline: 20px;
  font-family: "Raleway", sans-serif;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media div {
  margin-inline: 40px;
}

.footer-mobile {
  padding-bottom: 20px;
}

.footer-mobile a {
  color: var(--primary);
  font-size: 22px;
  font-family: "Pass through", sans-serif;
  padding-bottom: 20px;
}

.footer-gmail a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  padding-bottom: 20px;
  font-weight: lighter;
}

/* footer end */

.animation-adress-bar {
  background-color: var(--primary);
  height: fit-content;
  width: fit-content;
  color: #ffffff;
}

.marquee_container {
  width: 800px;
}
.marquee {
  border: 1px solid grey;
  background-color: var(--primary);
  top: 50%;
  transform: translateY(-50%);
  left: -1%;
  width: 102%;
  height: fit-content;
  display: flex;
  gap: 30px;
  overflow: hidden;
}
.marquee_group {
  display: flex;
  flex-shrink: 0;
  gap: 30px;
  min-width: 100%;
  align-items: center;
  justify-content: center;
  animation: scroll 15s linear infinite;
}
.marquee span {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

/* ---------------call us on--------------- */
.call-us-btn-cmp button {
  padding: 15px;
  border-radius: 100px;
  border: none;
  width: fit-content;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 28px !important;
  color: #ffffff;
}

.call-us-btn-cmp-footer {
  width: 90%;
  border-radius: 100px;
  border: var(--primary) solid 2px;
  border-color: var(--primary);
}

.call-us-btn-cmp-footer button {
  background-color: transparent;
}

.call-us-call-btn-number {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin: 0px 10px 0px 10px;
}

.call-us-call-icon {
  font-size: 48px;
  color: var(--primary);
  transform: rotate(30deg);
  padding-left: 5px;
}

/* carAndLight-mask1 */

.car-and-light-mask1 {
  -webkit-mask-image: url(../../assets/img/carAndLightMarks-1.png);
  mask-image: url(../../assets/img/carAndLightMarks-1.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 550px;
  height: 450px;
}

.car-and-light-tex {
  position: absolute;
  z-index: 1;
  color: black;
  font-size: 24px;
  width: 130px;
  font-weight: 300;
  margin: 25px;
}

.car-and-light-arrow {
  position: absolute;
  z-index: 1;
  margin-left: 28%;
  margin-top: 17%;
}

/* Estimate cal */
.estimate-cal-main-cmp {
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 30px;
}
.estimate-cal-header-tex {
  font-weight: 100 !important;
  font-size: 56px !important;
  line-height: 60px !important;
  color: "#FF5C00";
}

.estimate-cal-term-box {
  display: flex;
  flex-direction: column !important;
  justify-content: space-between;
}
.estimate-cal-terms-tex {
  font-size: 12px;
  color: rgb(37, 37, 37);
}
.estimate-cal-estimate-btn {
  background-color: var(--primary) !important;
  border-radius: 50px !important;
}

.css-18bla9a-MuiGrid-root {
  padding: 0px !important;
}
